.home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff5f5;

  &__card {
    background: white;
    padding: 50px 40px 20px 40px;
    border-radius: 20px;
    text-align: center;
  }
}

.btn-farm {
color: #888;
border: 1px solid #ccc;
background: transparent;
   &:hover {
  color: #FF6B6B;
      }
}